@charset "utf-8";
:root{
	--macprodblue:#0041db;
	--macprodorange:#f93304;
	--macprodblack:#0c0c0c;
	--macprodgray:#c1c3c0;	
}
@font-face {
  font-family: nmbold;
  src: url("fonts/pp_neue_machina/TTF/PPNeueMachina-InktrapBold.ttf");
}
@font-face {
  font-family: nmsemibold;
  src: url("fonts/pp_neue_machina/TTF/PPNeueMachina-InktrapSemibold.ttf");
}
@font-face {
  font-family: nmplight;
  src: url("fonts/pp_neue_machina/TTF/PPNeueMachina-PlainLight.ttf");
}
@font-face {
  font-family: nmpsemibold;
  src: url("fonts/pp_neue_machina/TTF/PPNeueMachina-PlainSemibold.ttf");
}
@font-face {
  font-family: nmblack;
  src: url("fonts/pp_neue_machina/TTF/PPNeueMachina-InktrapBlack.ttf");
}


globaloverlay  {
}

titlemax {
    color: var(--macprodgray);
    font-family: nmbold;
    font-size: 120px;
    line-height: 0.9;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
    text-align: justify;
    text-justify: inter-character;
}

titlemid {
    color: var(--macprodgray);
    font-family: nmblack;
    font-size: 45px;
    line-height: 0.8;
	margin-top: 0px;
    margin-bottom: 0px;
	display:block;
}
titlemin {
    color: var(--macprodgray);
    font-family: nmbold;
    font-size: 30px;
    line-height: 0.8;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
heading {
	color: var(--macprodgray);
	font-family: nmpsemibold;
    font-size: 13px;
	line-height: 1;
	margin-top: 5px;
    margin-bottom: 2px;
	display:block;
}
paragraph {
    color: var(--macprodgray);
    font-family: nmplight;
    font-size: 11px;
	line-height: 1.1;
	margin-top: 0px;
    margin-bottom: 0px;
	display:block;
}

ol {
    color: var(--macprodgray);
    font-family: nmplight;
    font-size: 12px;
	line-height: 12px;
	margin-top: 0px;
    margin-bottom: 0px;
}



/*HEADER STUFF BELOW*/
.headerrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.headerrowitem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 5px;
    padding-right: 5px;
}
headertoprow   {
    background-color: var(--macprodorange);
    height: 20px;
	color: var(--macprodblack);
    font-family: nmblack;
	font-size: 16px;
	line-height: 1;
}
headerbottomrow   {
    background-color: var(--macprodorange);
	height: 20px;
}

header playback {
	color: var(--macprodblack);
	font-family: nmbold;
	font-size: 16px;
	line-height: 1;
}


header nav {
    background-color: var(--macprodblack);
	font-family: nmsemibold;
	font-size: 16px;
	line-height: 1;
    color: var(--macprodorange);
    margin-right: 5px;
	margin-left: 5px;
}
#clock {
    width: 150px;
}



