@charset "utf-8";
:root{
	--macprodblue:#0041db;
	--macprodorange:#f93304;
	--macprodblack:#0c0c0c;
	--macprodgray:#c1c3c0;	
	--globalspacing:15px;
	--headerspacing:calc(var(--globalspacing)*0.7);
	--headertextheight:calc(var(--headerspacing)*2.2);
	--headericonsize:calc(var(--headerspacing)*2.6);
	--headertopbottompaddingfactor:0.3;
	--paragraphfontsize:16px;
}
@font-face {
  font-family: nmbold;
  src: url("fonts/pp_neue_machina/TTF/PPNeueMachina-InktrapBold.ttf");
}
@font-face {
  font-family: nmsemibold;
  src: url("fonts/pp_neue_machina/TTF/PPNeueMachina-InktrapSemibold.ttf");
}
@font-face {
  font-family: nmplight;
  src: url("fonts/pp_neue_machina/TTF/PPNeueMachina-PlainLight.ttf");
}
@font-face {
  font-family: nmpsemibold;
  src: url("fonts/pp_neue_machina/TTF/PPNeueMachina-PlainSemibold.ttf");
}
@font-face {
  font-family: nmblack;
  src: url("fonts/pp_neue_machina/TTF/PPNeueMachina-InktrapBlack.ttf");
}


globaloverlay  {
}

titlemax {
    color: var(--macprodgray);
    font-family: nmbold;
    font-size: calc(var(--paragraphfontsize)*6);
    line-height: 0.9;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
    text-align: justify;
    text-justify: inter-character;
	}
titlemid {
    color: var(--macprodgray);
    font-family: nmblack;
    font-size: calc(var(--paragraphfontsize)*3);
    line-height: 0.8;
	margin-top: 0px;
    margin-bottom: 0px;
	display:block;
	}
titlemin {
    color: var(--macprodgray);
    font-family: nmbold;
    font-size: calc(var(--paragraphfontsize)*2);
    line-height: 0.8;
    margin-top: calc(var(--paragraphfontsize)*0.5);
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
	}
heading {
	color: var(--macprodgray);
	font-family: nmpsemibold;
    font-size: calc(var(--paragraphfontsize)*1.2);
	line-height: 1;
	margin-top: calc(var(--paragraphfontsize)*0.4);
    margin-bottom: calc(var(--paragraphfontsize)*0.1);
	display:block;
	}
paragraph {
    color: var(--macprodgray);
    font-family: nmplight;
    font-size: var(--paragraphfontsize);
	line-height: 1.1;
	margin-top: 0px;
    margin-bottom: 0px;
	display:block;
	}
ol {
    color: var(--macprodgray);
    font-family: nmplight;
    font-size: 12px;
	line-height: 12px;
	margin-top: 0px;
    margin-bottom: 0px;
	}

/*HEADER STUFF BELOW*/
header {
    background-color: var(--macprodorange);
    margin: 0px;
    z-index: 5;
    position: fixed;
    width: 100vw;
    text-shadow: 0px 0px 77px ;
	box-sizing: border-box;
	}
.headerrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
	}
.headerrowitem {
    display: flex;
    align-items: center;
	}
headertoprow   {
    padding-left: var(--headerspacing);
    padding-right: var(--headerspacing);
	padding-top: calc(var(--headerspacing)*var(--headertopbottompaddingfactor)*1.2);
	padding-bottom: calc(var(--headerspacing)*var(--headertopbottompaddingfactor));

	color: var(--macprodblack);
    font-family: nmblack;
	font-size: var(--headertextheight);
	line-height: 1;
	}
headerbottomrow  {
	padding-left: var(--headerspacing);
    padding-right: var(--headerspacing);
	padding-bottom:  calc(var(--headerspacing)*0.6);
	}
header playback {
	color: var(--macprodblack);
	font-family: nmsemibold;
	font-size: var(--headertextheight);
	line-height: 1;
	}
header nav {
    background-color: var(--macprodblack);

	gap: var(--headerspacing);
	padding-left: calc(var(--headertextheight)*0.3);
    padding-right: calc(var(--headertextheight)*0.3);
	padding-top: calc(var(--headertextheight)*0.15);
	padding-bottom: calc(var(--headertextheight)*0.15);
	}
header nav a {
	font-family: nmsemibold;
	font-size: calc(var(--headertextheight)*0.9);
	line-height: 1;
    color: var(--macprodorange);
	text-decoration: none;
}
#clock {
    width: calc(var(--headerspacing)*20);
	}
