@charset "utf-8";



body {
    background-color: var(--macprodblack);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    /* [disabled]overflow: hidden; */
}
main {
    padding-top: calc(var(--globalspacing)*6);
    padding-right: calc(var(--globalspacing)*1.5);
    padding-bottom: calc(var(--globalspacing)*1.5);
    padding-left: calc(var(--globalspacing)*2)
}


.media {
    border-color: var(--macprodorange);
    border-width: 5px;
    border-style: dashed;
    -webkit-box-shadow: 0px 0px 100px 10px var(--macprodorange);
    box-shadow: 0px 0px 100px 10px var(--macprodorange);
}
#Collab .gridcontainer {
    display: grid;
	gap: 20px;
	grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
}

#Collab socialmediaicons {
    background-color: var(--macprodorange);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

globaloverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: 4;
    box-sizing: border-box;
    border-width: calc(var(--globalspacing)*0.5);
    border-style: solid;
    border-color: var(--macprodorange);
    -webkit-box-shadow: inset 0px 0px calc(var(--globalspacing)*3) 0px var(--macprodorange);
    box-shadow: inset 0px 0px calc(var(--globalspacing)*3) 0px var(--macprodorange);
}
globaloverlay bottomleft {
    bottom: 0px;
    right: 0px;
    position: fixed;
}
globaloverlay contentarea {
    width: 100vw;
    height: 100vh;
}
globalbackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}
